@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* font-family: 'Big Shoulders Display', cursive;
font-family: 'Lexend Deca', sans-serif; */

h6{
color: hsl(31, 77%, 52%)  
hsl(184, 100%, 22%)
 hsl(179, 100%, 13%)
 hsla(0, 0%, 100%, 0.75)
 hsl(0, 0%, 95%)

}

body{
    font-size: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.container{
    display: flex;
    /* align-items: center; */
}

.box{
    
    width: 300px;
    height: 495px;
    /* padding: 5%; */
    padding: 45px;
    /* color: white; */
}



.box:nth-child(1){
    background-color: hsl(31, 77%, 52%);
    color: hsl(31, 77%, 52%);
    border-radius: 10px 0 0 10px;
}

.box:nth-child(2){
    background-color: hsl(184, 100%, 22%);
    color: hsl(184, 100%, 22%);
}

.box:nth-child(3){
    background-color: hsl(179, 100%, 13%);
    color: hsl(179, 100%, 13%);
    border-radius: 0 10px 10px 0;
}

h1{
    margin: 30px 0;
    color: hsl(0, 0%, 95%);
    font-family: 'Big Shoulders Display', cursive;
    text-transform: uppercase;
    font-size: 2.5rem;
}

p{
    margin: 30px 0;
    color: hsl(0, 0%, 100%, 0.75);
    font-family: 'Lexend Deca', sans-serif;
    line-height: 1.5rem;
}

button{
    margin-top: 50px;
    width: 150px;
    height: 45px;
    border-radius: 25px;
    border: 1 px solid white;
    background-color: hsl(0, 0%, 95%);
    color: inherit;
    /* mix-blend-mode: difference; */
    font-family: 'Lexend Deca', sans-serif; 
    font-size: 15px;
    border: none;
    

}

button:hover{
    background-color: inherit;
    color: hsl(0, 0%, 95%);
    border: 1px solid white;
    cursor: pointer;
}

@media (max-width: 900px){
    .container{
        flex-direction: column;
        margin: 50px auto;
    }
    body{
        height: 100%;   
    }
    .box:nth-child(1){
        border-radius: 10px 10px 0 0;
    }

    .box:nth-child(3){
        border-radius: 0 0 10px 10px;
    }
}

